apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: usedcar-data-pvc
  namespace: used-car-dealer
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
  storageClassName: default