apiVersion: v1
kind: Service
metadata:
  name: used-car-dealer-service
  namespace: used-car-dealer
spec:
  type: LoadBalancer
  selector:
    app: used-car-dealer
    version: blue  
  ports:
  - port: 80
    targetPort: 8081
    protocol: TCP
    name: http
  sessionAffinity: None